[% nowrapper = 1 %]
[% USE Scalar %]
<div class="submitWaiter">
    <form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/documents/' _ (document_depth.id || 0) _ '/' _ (document ? 'edit/' _ document.id : 'add')) %]" enctype="multipart/form-data">
        <input type="hidden" name="documenttype" value="sjabloon">
        <table>
            <tbody>
                <tr>
                    <td class="td-label td200">Sjabloon:</td>
                    <td class="td250">
                        <select name="sjabloon_id" class="ezra_sjabloon_suggest">
                            [% sjablonen = zaak.zaaktype_node_id.scalar.zaaktype_sjablonen.scalar.search %]
                            [% WHILE (sjabloon_entry = sjablonen.next) %]
                                <option
                                    value="[% sjabloon_entry.id %]"
                                    [% (sjabloon_entry.id == c.req.params.sjabloon_id
                                        ? ' selected="selected"'
                                        : ''
                                    ) %]
                                    >[% sjabloon_entry.naam %]
                                </option>
                            [% END %]
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Naam document:</td>
                    <td>
                        <input type="text" size="40" class="ezra_sjabloon_naam" name="filename"> .odt
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Zaaktype document:</td>
                    <td>
                        <select name="catalogus" class="select_zt_document zaak_[% zaak.nr %]">
                            <option value="">Geen</option>
                                [% documenten = zaak.zaaktype_node_id.scalar.zaaktype_kenmerken.scalar.search(
                                    {
                                        'bibliotheek_kenmerken_id.value_type'    => 'file'
                                    },
                                    {
                                        'join'          => 'bibliotheek_kenmerken_id',
                                        'order_by'      => 'id',
                                    }
                                ) %]
                            [% WHILE (cdocument = documenten.next) %]
                                [% NEXT IF zaak.documents.from_catalogus(cdocument.id) %]
                                <option value="[% cdocument.id %]"[% (zaak.documents.from_catalogus(cdocument.id) ? ' selected="selected"' : '') %] class="[% (cdocument.value_mandatory ? 'verplicht_document' : "") %][% (cdocument.pip ? ' pip_document' : '') %]">
                                    [% cdocument.naam %]
                                </option>
                            [% END %]
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Versienummer:</td>
                    <td>[% (document ? document.versie : '1') %]</td>
                </tr>
                <tr>
                    <td class="td-label">Verplicht:</td>
                    <td>
                        <div class="document_constraint_true document_constraint_verplicht"><img src="[% c.uri_for('/images/') %]loader.gif" alt="Laden..."/></div>
                        <div class="document_constraint_false"><input type="hidden" name="mandatory" value="0" class="is_mandatory" /><span class="text_mandatory">Nee</span></div>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Publiceren op PIP:</td>
                    <td>
                        <div class="document_constraint_true document_constraint_verplicht"><img src="[% c.uri_for('/images/') %]loader.gif" alt="Laden..."/></div>
                        <div class="table_td_right_zaakinformatie document_constraint_false"><input type="checkbox" name="pip" value="1" [% (document.pip ? ' checked="checked"' : '') %] class="is_pip"/></div>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Toelichting:</td>
                    <td><textarea cols="60" name="help" class="ezra_sjabloon_toelichting textarea_toelichting">[% document.help %]</textarea></td>
                </tr>

           </tbody>
        </table>
        <div class="form-actions">
            <input id="dialog-submit" type="submit" class="button button-primary" value="Gebruiken"></td>
        </div>        
    </form>
</div>
