<form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/documents/' _ (document_depth.id || 0)_ '/add') %]">
<input type="hidden" name="documenttype" value="dir" />
    <div class="dialog-inner">
        <div>
            <label>Naam map</label>
            <input type="text" name="filename" class="input_large" />
        </div>
    </div>
    <div class="form-actions">
        <input id="dialog-submit" type="submit" class="button button-primary" value="Aanmaken">
    </div>
    
</form>
