<ul>
	<li>
		<img src="http://zaaksysteem.nl/wp-dev/wp-content/themes/vers/img/zaaksysteem-logo-kleur.svg" />
		<p class="center">Zaaksysteem.nl is een complete oplossing voor gemeenten om de dienstverlening te verbeteren.</p>
	</li>
	<li>
		<table>
			<tr>
				<td class="label"><strong>Applicatie: </strong></td>
				<td><p>zaaksysteem.nl</p></td>
			</tr>
			<tr>
				<td class="label"><strong>Leverancier: </strong></td>
				<td>Mintlab B.V.</td>
			</tr>
			<tr ng-repeat="item in getInfo() track by item.instance.label">
				<td class="label"><strong>{{::item.instance.label}}:</strong></td>
				<td>{{::item.instance.value}}</td>
			</tr>
			<tr>
				<td class="label"><strong>Licentie: </strong></td>
				<td><p>EUPL</p></td>
			</tr>
			<tr>
				<td class="label"><strong>Startdatum: </strong></td>
				<td><p>01-10-2009</p></td>
			</tr>
			<tr>
				<td class="label"><strong>Einddatum: </strong></td>
				<td><p>n.v.t.</p></td>
			</tr>
			<tr>
				<td class="label"><strong>Documentatie: </strong></td>
				<td><p><a target="_blank" href="http://wiki.zaaksysteem.nl">Zaaksysteem Wiki</a></p></td>
			</tr>
		</table>
	</li>
</ul>
