@import './../../../../../../shared/styles/variables';

zs-case-phase-sidebar{
	position: relative;
}

.phase-sidebar-collapse-button{
	position: absolute;
	right:17rem;
	top:.8rem;
	left:auto;
	z-index:7;
	transition:.2s .4s opacity;
	opacity: 1;
	.mdi::before{
		content: mdi('play-circle') !important;
	}
}

.phase-sidebar {
	border-left: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	flex:1 1 0%;
	width:18rem;
	position: absolute;
	transition:$bezier-animation transform;
	transform:translateX(0);
	top:0;
	bottom:0;
	right:0;
	z-index:6;
	min-height:0px;
	background: #fff;
	box-shadow:0 -1px 3px rgba(0,0,0,0.25);
	.collapsed {
		background: none;
	}
}

.phase-body.sidebar-collapsed {
	.phase-sidebar {
		transform: translateX(102%);
		border:none;
		box-shadow:none;
	}
	.phase-sidebar-collapse-button {
		opacity:0;
		right:-3rem;
	}
	zs-case-phase-sidebar{
		display: flex;
	}
}

.phase-sidebar-toggle-button {
	position: absolute;
	left: -0.8em;
	top: 20px;
	width: 1.6em;
	height: 1.6em;
	border-radius: 50%;
	border: 0;
	font-size: 1.3em;
}

.phase-sidebar-content{
	flex: 1;
    overflow-y: auto;
    min-height: 0px;
}



.phase-sidebar-compact {
	
	display: block;
	position: absolute;
	z-index:1;
    top: 1.533rem;
    right: 1.333rem;
    //background:white;
    
    .phase-sidebar-header-inner{
    	border-bottom:none;
    }
    
	.phase-sidebar-tab {
		position: relative;
		.phase-sidebar-tab-counter {
			position: absolute;
			top: -1px;
			right: -1px;
		}
	    .phase-sidebar-tab-label {
			display:none;
		}
}
	
	.phase-sidebar-tab-icon{
		margin:0;
	}
    .phase-sidebar-tab-link{
    	padding:.5em;
    	color:$primary-color;
    	border-radius: 100%;
    	&:hover{
    		color:#000;
    		background: rgba(0,0,0,0.05);
    	}
    }
}

.sidebar-item{
	&.disabled,
	&.disabled:hover{
		.sidebar-item-button{
			opacity: .5;
			background:#fff;
			cursor: default;
		}
	}
}

.sidebar-item-list {
	padding: 0;
	margin: 0;
}

.sidebar-item-button {
	display: flex;
	width: 100%;
	border: 0;
	padding: .15rem 1rem;
	background: none;
	justify-content: flex-start;
	align-items: center;
	&:hover{
		background:$extra-light-grey;
		cursor:pointer;
	}
}

.sidebar-item-toggle {
	margin-right: 12px;
}

.sidebar-item-icon {
	margin-right: 12px;
	font-size: 1.8em;
	color: $primary-color;
}

.sidebar-item-label {
	padding:.25rem 0;
	text-align: left;
	flex-grow:1;
	display: flex;
	align-items:center;
}

.sidebar-item-tainted{
	@include button-reset();
	color:$icon-grey;
	&:hover{
		color:#000;
	}
}

.sidebar-item-title{
	line-height: 1.4;
}

.sidebar-item-description {
	font-size: 0.8em;
	color: $grey;
}

.sidebar-item {
	&[action-type="email"] .sidebar-item-icon {
		color: $yellow;
	}
	&[action-type="allocation"] .sidebar-item-icon {
		color: $red;
	}
	&[action-type="template"] .sidebar-item-icon{
		color: $grey;
	}
	&[action-type="case"] .sidebar-item-icon{
		color: $primary-color;
	}
}

.sidebar-item-empty,
.checklist-item-add{
	padding: .75rem 1rem;
}

zs-case-action-list{
	padding:.75rem 0;
	display: block;
}

zs-case-check-list{
	@extend zs-case-action-list;
	.sidebar-item{
		padding:.25em 1em;
		display: flex;
		align-items:baseline;
		&.checked{
			.sidebar-item-label label{
				text-decoration: line-through;
			}
		}
	}
	.sidebar-item-label label{
		display: flex;
		flex-direction: row;
		align-items:baseline;
		input{
			width:30px;
			text-align: left;
			flex-grow:0;
			flex-shrink:0;
		}
	}
	button{
		@include button-reset();
		zs-icon{
			font-size:1.2em;
			color:$icon-grey;
			&:hover{
				color:black;
			}
		}
	}
}

zs-case-action-form .btn-show-more{
	width:90%;
}

@media #{$medium-only}{
	.phase-sidebar-collapse-button{
		right:17rem;

	}
}

@media #{$medium-and-up} {
	.phase-sidebar-collapse-button{
		right:23rem;
		left:auto;
	}
	.phase-sidebar {
		width:24rem;
		position: absolute;
	}
}

@media #{$large-and-up} {

	.phase-sidebar-collapse-button{
		left:-16px;
		right:auto;
		display: none;
	}

	.phase-sidebar-content,
	zs-case-phase-sidebar-tab-list{
		transition:.2s .3s;
		opacity:1;
	}

	.phase-sidebar-compact {
		opacity:0;
		display: none;
	}

	.phase-sidebar{
		position: static;
		transition:$bezier-animation;
		transform: none;
		box-shadow:none;
		width:23rem;
		z-index:auto;
	}

	.phase-body.sidebar-collapsed {
		zs-case-phase-sidebar{
			display: none;
		}
		.phase-sidebar {
			width:0;
			background: none;
			.phase-sidebar-header-inner{
				display: none;
			}
		}
		.phase-sidebar-compact {
			opacity:1;
			transition:.2s .3s; 
			zs-case-phase-sidebar-tab-list{
				opacity: 1;
			}
		}
		.phase-sidebar-content,
		zs-case-phase-sidebar-tab-list{
			opacity: 0;
		}
	}

}
