<div class="proposal-detail-view__notecontent"
	ng-click="proposalNoteBar.handleNoteClick()"
	>
	<zs-icon icon-type="library-plus"></zs-icon>

	<div class="proposal-detail-view__noteplaceholder">{{proposalNoteBar.getNote()}}</div>

</div>
