case-list-item-list{
	padding-bottom: 30px;

	h2{
		font-size: 15px;
		color: #818181;
		font-weight: 500;
		padding: 15px 15px 0 15px;
		margin: 10px 0 5px 0;
	}

	.case-list-done-message{
		color: #ccc;
		text-align: center;
		margin: 15px 15px 25px;
		padding:10px 0 25px;
		border:2px solid #eee;
		background:#fafafa;
		
		zs-icon{
			display: block;
			font-size: 50px;
		}
	}

	.case-list-number-of-cases{
		display: inline-block;
		background: rgb(246,54,54);
		color: #fff;
		font-size: 11px;
		border-radius: 10px;
		min-width: 15px;
		min-height: 15px;
		text-align: center;
		margin-top: -5px;
		margin-left: 5px;
		position: absolute;
		line-height: 1.4em;
	}

	.case-group-loadmore{
		padding: 15px;
		text-align: center;
	}
}
