[% USE Dumper %]


[% BLOCK kenmerk_operators %]
<select name="k-kenmerk_operator_[% kenmerkcount %]">
    [% FOREACH option = kenmerk_item.operators %]
        <option value="[% option.value %]"
        [% IF kenmerk_item.operator == option.value %]selected[%END%]
        >[% option.label %]</option>
    [% END %]
</select>
[% END %]

<div class="kenmerken_container">
    <table class="ztAjaxTable" cellspacing="0">
        <thead>
            <tr>
                <th class="td100">Naam</th>
                <th class="td250">Zoekopdracht</th>
                <th class="td20 center"></th>
            </tr>
        </thead>
        <tbody>
        [% IF kenmerken.size > 1 %]
            <tr>
                <td class="kenmerk_naam td100">
                    <span class="description">Filterstijl</span>
                </td>

                <td>
                    <select name="attribute_query_style">
                        <option value="and"[% IF attribute_query_style == 'and' %] selected[% END %]>EN</option>
                        <option value="or"[% IF attribute_query_style == 'or' %] selected[% END %]>EN/OF</option>
                    </select>
                </td>
            </tr>
        [% END %]

        [% kenmerkcount = 0 %]
        [% FOREACH kenmerk_item IN kenmerken %]
            [% kenmerkcount = kenmerkcount + 1 %]
            [% kenmerk = c.model('Bibliotheek::Kenmerken').get('id', kenmerk_item.id) %]

            <tr class="ztAjaxTable_row ztAjaxTable_rownumber_[% kenmerkcount %]" id="kenmerk-id-[% kenmerk_item.id %]">
                <td class="kenmerk_naam td100"><span class="description">[% kenmerk.kenmerk_naam %]</span>
                <input type="hidden" size="40" class="ztAjaxTable_uniquehidden" name="k-kenmerk_id_[% kenmerkcount %]" value="[% kenmerk_item.id %]">
                </td>
                <td class="td250">
                    [% PROCESS widgets/general/kenmerk_filter.tt 
                        veldoptie_type = kenmerk.kenmerk_type
                        veldoptie_opties = kenmerk.kenmerk_options
                        veldoptie_value  = kenmerk_item.data
                        veldoptie_name = 'k-kenmerk_search_' _ kenmerkcount
                        veldoptie_operator_fieldname = 'k-kenmerk_operator_' _ kenmerkcount
                        show_inactive = kenmerk_item.show_inactive
                    %]

                    [% IF kenmerk.kenmerk_type == 'option' || 
                          kenmerk.kenmerk_type == 'select' || 
                          kenmerk.kenmerk_type == 'checkbox' %]

                        [% show_text = 'Verberg inactieve mogelijkheden' %]
                        [% hide_text = 'Toon inactieve mogelijkheden' %]
                        <a class="ezra_show_inactive_options show-more kenmerk_filter-show-more knop-text" rel="hide_text:[% hide_text %];show_text:[% show_text %]">
                            <i class="icon icon-show-more [% kenmerk_item.show_inactive ? 'icon-show-less' : '' %]"></i> <span>[% kenmerk_item.show_inactive ? show_text : hide_text %]</span>
                            <input type="hidden" class="ezra_show_inactive_options_input" name="k-kenmerk_show_inactive_[% kenmerkcount %]" value="[% kenmerk_item.show_inactive %]" />
                        </a>
                    [% END %]
                </td>
                <td class="td15 center"><a href="#" class="ztAjaxTable_del icon icon-del"></a></td>
            </tr>
        [% END %]
        </tbody>
    </table>
</div>
