<div class="block sysin-records" data-ng-controller="nl.mintlab.sysin.records.RecordController">
	
	<div class="transaction-record-error" data-ng-show="record.is_error">
		<i class="icon-font-awesome icon-exclamation-sign"></i> Er is een fout opgetreden bij het verwerken van dit record.
	</div>
	
	<div data-zs-detail-view="<[viewConfig]>" data-ng-class="{ 'transaction-record-detail-error': record.is_error }">
	</div>
	
	<div class="block-content">
		
		<div class="transaction-record-list" data-zs-crud-template-parser="/sysin/transaction/1/record/<[recordId]>/mutation" data-ng-show="!activeTransaction">
		</div>
		
	</div>
	
	<script type="text/zs-scope-data">
		{
			"viewConfig": {
				"name": "record-detail",
				"title": "<[item.preview_string||('Record ' + item.id)]>",
				"url": "/sysin/transaction/record/<[recordId]>",
				"fieldsets": [
					{
						"fields": [
							{
								"name": "id",
								"label": "Record ID",
								"resolve": "id"
							},
							{
								"name": "transaction_id",
								"label": "Transactie ID",
								"template": "<a href=\"/beheer/sysin/transactions/<[item.transaction_id]>\"><[item.transaction_id]></a>"
							},
							{
								"name": "date_executed",
								"label": "Aangemaakt",
								"resolve": "date_executed",
								"filter": "date:'dd-MM-yyyy HH:mm'"
							},
							{
								"name": "input",
								"label": "Request",
								"template": "<textarea readonly><[item.input]></textarea>",
								"when": "item.input"
							},
							{
								"name": "input",
								"label": "Response",
								"template": "<textarea readonly><[item.output]></textarea>",
								"when": "item.output"
							}
						]
					}
				]
			}
		}
	</script>
	
</div>
