[%# should be automated, see #1168 %]

[% partials = [ 'spot-enlighter/case.html', 'spot-enlighter/contact.html', 'spot-enlighter/default.html', 'spot-enlighter/medewerker.html', 'spot-enlighter/case-type-document.html', 'spot-enlighter/address.html', 'spot-enlighter/street.html', 'tooltip/tooltip.html', 'popup/modal.html', 'popup/file-preview.html', 'case/case-progress.html' ] %]
[% FOREACH filename = partials %]
    <script type="text/ng-template" id="/partials/directives/[% filename %]">
        [% fullPath = 'partials/directives/' _ filename %]
        [% INCLUDE $fullPath %]
    </script>
[% END %] 

<div class="noscript-notification jshide">
    <i></i>
    <span>Javascript is uitgeschakeld. Schakel Javascript in voor een betere ervaring.</span>
</div>


[% UNLESS c.is_allowed_browser %]
<div class="browser-check">
    <div class="browser-check-inner">
        <h1>Je gebruikt een verouderde en onveilige browser</h1>
        <p>Download een recente versie van &eacute;&eacute;n van deze browsers als je deze website wilt gebruiken:</p>
        <div class="browsers">
            <a href="http://google.com/chrome" class="chrome">
                <span class="icon"></span>
                <span class="text">Chrome</span>
            </a>
            <a href="http://www.mozilla.org/firefox" class="firefox">
                <span class="icon"></span>
                <span class="text">Firefox</span>
            </a>
            <a href="http://www.opera.com/" class="opera">
                <span class="icon"></span>
                <span class="text">Opera</span>
            </a>
        </div>
    </div>
</div>
[% END %]


<div id="searchdialog" class="no-padding">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div id="dialog">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div id="thirddialog">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div class="nieuwe_zaak_starten" id="ezra_nieuwe_zaak_tooltip">
    <div class="nieuwe_zaak_starten_tip"></div>
    <div class="ezra_nieuwe_zaak_tooltip-content nieuwe_zaak_starten_content">
    </div>
    <div class="ezra_nieuwe_zaak_tooltip-hide"><i class="mdi mdi-close"></i></div>
</div>


<div class="custom_overlay">
    <div class="custom_overlay_loader">
        <img src="/images/spinner-apple.gif" alt="Een ogenblik geduld..." />
    </div>
</div>


[% IF zaak.nr %]
<div id="zaak_id" class="[% zaak.nr %]"></div>
[% END %]

<div class="system-message-component ng-cloak" data-ng-controller="nl.mintlab.message.SystemMessageController" data-ng-show="messages.length">
    
    <div data-ng-repeat="message in messages | filter:{type: 'error'}" data-ng-include="'/html/core/net/system-message.html'" data-system-message="message">
    </div>
    
    <div data-ng-repeat="message in messages | filter:{type: 'info'} | limitTo:1" data-ng-include="'/html/core/net/system-message.html'">
    </div>
</div>

<div class="spinner <[uiBlocked&&'ui-blocked'||'']>" data-ng-controller="nl.mintlab.net.SpinnerController">
    <div></div>
</div>

<script type="text/ng-template" id="/html/core/net/system-message.html">
    <div class="system-message-current" 
        data-ng-class="{ 'system-message-error': message.type=='error', 'system-message-warning': message.type=='warning', 'system-message-info': message.type=='info'}" 
        data-zs-timer="getTimeout(message)" 
        data-zs-system-message-component
    >
        <span class="system-message-content" data-ng-bind-html="getMessageContent(message)"></span>
        <button class="system-message-action" data-ng-click="handleMessageClick(message)" data-ng-show="message.action">
            <[message.actionLabel]>
        </button>
        <span class="system-message-timer" data-ng-show="zsTimerLeft()">
            (<[zsTimerLeft()/1000|number:0]>s)
        </span>
        <button data-ng-click="closeMessage(message)" class="close" autofocus>
            x
        </button>
    </div>
</script>

[% IF !c.user_exists && !pip %]

<div class="login_maincontainer">
[% END %]

<!--iframe name="miframe" id="miframe"></iframe--> 

<!--object style="border: medium none; overflow: hidden;" name="miframe" id="miframe"></object-->
<!-- END Helper Diffs -->
