    <!-- Nieuwe zaak dropdown menu. onderaan de pagina geplaatst om IE stacking bug te omzeilen -->
    
    
    [% IF !c.user_exists %]</div>
        
    </script>
    
    [% END %]
    

    
    
    <div class="nieuwe_zaak_extra_box ezra_nieuwe_zaak_extra_dropdown">
    [% IF c.check_any_user_permission('contact_nieuw') %]
        <a
        href="[% c.uri_for('/betrokkene/0/bewerken') %]"
        class="ezra_nieuwe_zaak_tooltip-button nieuwcontact">
            Nieuw Contact
        </a>
    [% END %]
        <a
        href="[% c.uri_for('/contactmoment/create') %]"
        class="ezra_nieuwe_zaak_tooltip-button nieuwcontactmoment">
            Nieuw Contactmoment
        </a>
    </div>

    <script>
    document.write("<div style=\"visiblity:hidden;display:none;\"><img src=\"/images/visitors-screen-res-check.jpg?"+screen.width+"x"+screen.height+"x"+screen.colorDepth+"\" /></div>");
    </script>    
    
    </body>
</html>

