<div class="group-list">
	<a 
		class="group-list-item"
		ng-repeat="group in groupListView.getGroups() track by group.id"
		ui-sref="meetingList({ group: group.link, meetingType: 'open' })"
	>
		{{::group.label}}
	</a>
</div>
