[% IF user_can_change_password %]
<div data-ng-controller="nl.mintlab.user.UserPasswordController" class="contact-wachtwoord-wijzigen contact-settings-block">

	<h3>Wachtwoord wijzigen</h3>
		
	<div data-zs-form-template-parser="<[passwordForm]>">
	</div>
	
	<script type="text/zs-scope-data">
		{
			"passwordForm": {
				"name": "changepass",
				"actions": [ 
					{
						"name": "submit",
						"type": "submit",
						"label": "Opslaan",
						"importance": "primary",
						"data": {
							"url": "/api/user/password"
						}
					}
				],
				"fieldsets": [
					{
						"name": "password-change",
						"fields": [
							{
								"name": "old_password",
								"label": "Huidig wachtwoord",
								"type": "password",
								"required": true
							},
							{
								"name": "new_password",
								"label": "Nieuw wachtwoord",
								"type": "password",
								"required": true,
								"data": {
									"showPasswordStrength": true
								}
							},
							{
								"name": "confirm_password",
								"label": "Bevestig wachtwoord",
								"type": "password",
								"required": true,
								"data": {
									"validation": "new_password==confirm_password"
								}
							}
						]
					}
					
				]
			}
		}
	</script>
</div>
[% END %]


[% IF user_can_change_extension %]
<div data-ng-controller="nl.mintlab.user.UserExtensionController" class="contact-telefonie-wijzigen contact-settings-block">
	<h3>Telefoonkoppeling</h3>
		
	<div data-zs-form-template-parser="<[extensionForm]>">
	</div>
	
	<script type="text/zs-scope-data">
		{
			"extensionForm": {
				"name": "changeext",
				"actions": [ 
					{
						"name": "submit",
						"type": "submit",
						"label": "Opslaan",
						"importance": "primary",
						"data": {
							"url": "/api/kcc/user/extension"
						}
					}
				],
				"fieldsets": [
					{
						"name": "ext-change",
						"fields": [
							{
								"name": "extension",
								"label": "Extensie",
								"type": "text",
								"required": true,
                                "value": "<[extension.value]>"
							}
						]
					}
				]
			},
            "extension": [% kcc_extension || 'null' %]
		}
	</script>
</div>
[% END %]

<div class="contact-versie-wijzigen contact-settings-block" data-ng-controller="nl.mintlab.user.UserLegacyController">
	<h3>Versie</h3>
		
	<div data-zs-form-template-parser="<[versionForm]>" zs-form-submit="saveValues($values)">
	</div>
	
	<script type="text/zs-scope-data">
		{
			"versionForm": {
				"name": "use_legacy",
				"actions": [ 
					{
						"name": "submit",
						"type": "submit",
						"label": "Opslaan",
						"importance": "primary",
						"disabled": "false"
					}
				],
				"fieldsets": [
					{
						"name": "use_legacy",
						"fields": [
							{
								"name": "use_legacy",
								"label": "Gebruik oude versie",
								"type": "checkbox",
								"required": false,
								"value": false
							}
						]
					}
				]
			}
		}
	</script>
</div>

[% PROCESS betrokkene/annotations.tt %]
[% PROCESS betrokkene/signature.tt %]
