@import "../partials/dependencies";

$logo-url: "../../form/desom/img/desom-header.jpg";
$primary-color: #333;
$secondary-color: #e7e7e7;
$green:#95d100;
$orange:#d16200;

$button-id-bg-color: #333;

$anchor-color:$primary-color;
$anchor-color-hover:#000;

$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;

$font-size:100%;
$font-family:open-sans, sans-serif;

$template-width:96%;
$template-max-width:1100px;

$heading1-color:black;
$heading2-color:darken($green,7%);

$heading1-weight:400;
$heading2-weight:400;

$body-background-color:#fff;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-invert";
@import "template-custom";

h1,h2{
	font-weight:$heading1-weight !important;
}

h1{
	color:$heading1-color;
}

h2{
	color:$heading2-color;
}

body{
	background:$body-background-color;
}

#container{
	border:none;
	@include box-shadow(none);
	max-width:$template-max-width;
	padding-bottom:40px;
}

header #logo {
	text-indent: -9999px;
	background: url($logo-url) no-repeat -25px center;
	height:60px;
	padding-left:0px;
	margin-left:0;
	@include box-sizing(border-box);
	margin-top:18px;
	width:140px;
	margin-bottom:10px;
}

.pip-nav{
	@include border-radius(3px);
	border-bottom-width:3px;
	padding:0 15px;
	margin-left:125px;
	ul li{
		&.current a, a:hover{
			background:$secondary-color !important;
			border-bottom-width:3px;
			border-bottom-color:darken($green,8%);
			margin-bottom:-3px;
			color:#000 !important;
		}
		a{
			padding:16px 4px 17px;
			margin:0 10px 0 0;
			color:#777 !important;
			font-weight: 400;
		}
	}
}

.pip .field-help .icon-question-sign,
.field-help .icon-question-sign{
	color:darken($green,5%);
	&:hover{
		color:darken($green,15%);
	}
}

.pip-case-progress .pip-case-progress-bar{
	background:#ddd !important;
}

.pip-case-progress .pip-case-progress-percentages{
	background:darken($green,8%) !important;
}

.button-primary{
    background:$green;
    border:1px solid $green;
    color:#222;
    &:hover{
        background:darken($green,5%);
        border:1px solid darken($green,5%);
    }
    &[disabled='disabled']{
        background:$green;
        border:1px solid $green;
    }
}

.stap.active {
	border-bottom-color: darken($green,7%);
}

.pip{
	position:relative;
	top:-68px;
}

.pip-page-title h1{
	padding:25px 0 20px;
}

.header, .pip-header{
	margin-left:125px;
	padding-left:15px !important;
	padding-right:15px !important;
	@include border-radius(3px);
	height:56px;
	margin-bottom:20px;
	display:block;
	width:auto;
}

.block{
	position:relative;
	top:20px;
}

.block > .header > .header-actions,
.header h1,
.pip-header h1{
	height:56px;
	line-height:56px;
}

.header h1, .pip-header h1{
	font-size:1.368em;
}

.header > h1.header-title{
	width: 100%;
	padding-right:260px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.block > .header > .header-actions{
	position:absolute;
	right:1em;
	.button{
		border-color:transparent;
	}
}

.pip-case-form-phase-inactive{
	@include opacity(.6);
}

.block.succes > .header{
	margin-left:125px;
	margin-bottom:20px;
}

.pip-case-form-phase-title{
	font-weight:400;
	letter-spacing:.4px;
}

.blockcontent{
	clear:both;
}

.kenmerk-veld{
	border-color:#ddd;
}

.banner{
	@include border-radius(0 0 5px 5px);
	height:140px;
	width:100%;
	max-width:$template-max-width;
	background:url(../../form/desom/img/sloot.jpg) no-repeat center -270px;
}