@import "../partials/dependencies";

$font-family:Arial, sans-serif;

$template-inner-width:960px;
$content-width:$template-inner-width;
$content-margin:0 auto;
$body-bg:#F3F6F7;

$primary-color:#002152;
$secondary-color:#C8B270;
$tertiary-color:#5cac43;
$border-color:#7c7671;

$container-shadow:1px 1px 2px rgba(0,0,0,0.2);
$container-border:medium none color;
$container-margin:10px auto !important;
$container-border-radius:15px 15px 0 0; 
$container-min-height:auto;

$logo-url:  "../../form/niwo/img/logo.jpg";
$logo-width:125px;
$logo-height:51px;
$logo-bg-size:cover;
$logo-wrapper-width:$logo-width;
$logo-margin:0 0 0 20px;

$title-font-family:$font-family;
$title-font-weight:normal;
$title-bg-color:white;
$title-text-color:white;
$title-font-size:2em;
$title-height:70px;
$title-line-height:70px;
$title-bg-image:url("../../form/niwo/img/header.jpg");
$title-border-radius:15px;
$title-width:920px;

$button-in-title-color:white;
$button-in-title-bg-hover:$primary-color;
$button-in-title-icon-color:white;

$header-height:70px;
$header-padding:8px 0;
$header-bg:transparent;

$heading-text-transform:none;

$heading1-font-family:$font-family;
$heading1-weight:700;


$heading2-fontsize: 1.5em;
$heading2-color:$primary-color;
$heading2-weight: 700;
$heading2-font-family:$font-family;



$border-radius:2px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-size:82.5%;
$template-width:960px;

$pip-nav-background-color:white;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-width:0;


$pip-nav-anchor-color:#9b918c;
$pip-nav-border-color-hover:red;
$pip-nav-border-color-active:$primary-color;

$pip-nav-bg-active:white;
$pip-nav-bg-hover:white;

$pip-nav-font-weight:bold;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($primary-color,55%);

$pip-phase-title-bg:$primary-color;

//$stap-active-bg:$secondary-color;
//$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";
@import "template-custom";

.html,body{
	height:auto !important;
}

.block-header{
	margin:0 20px;
}

.webformcontent{
	margin-bottom:0;
}


#logo,
#payoff{
	display: inline-block;
}

#payoff{
	top:-5px;
	position:relative;
	color:$secondary-color;
}

.pip-page-title{
	background-image: url("../../form/niwo/img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius:15px;
  padding-left:20px;
  padding-bottom:10px;
  h1{
  	color:#fff;
  	font-weight: normal;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {

	#container{
		border-radius:0 !important;
		margin:0 !important;
	}

	.block-header{
		width:auto;
		display: block;
		margin:0 12px;
	}
	#logo{
		margin-left:12px;
	}
	.pip-nav-menu > li{
		padding:0 12px !important;
	}
}


@media only screen and (max-width: 401px) {

	#payoff{
		display: none;
	}

}