@import "../partials/dependencies";

$logo-url: "../../form/tholen-old/img/logo.jpg";
$logo-height:75px;
$primary-color: darken(#6277B3,10%);
$secondary-color: rgb(34, 70, 133);
$button-id-bg-color: #333;
$anchor-color:$primary-color;
$anchor-color-hover:black;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;
$gradient-swatch1:#fff;
$gradient-swatch2:#f9d310;
$heading1-weight:normal;
$heading2-weight:$heading1-weight;

$pip-nav-font-weight:normal;
$pip-nav-border-color:darken($gradient-swatch2,5%);
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-background-image:url("../../form/tholen-old/img/tholen-header-bg.jpg");
$pip-nav-background-color:lighten($gradient-swatch2,15%);
$pip-nav-anchor-color:#333;

$title-bg-image:url("../../form/tholen-old/img/tholen-header-bg.jpg");
$title-text-color:#333;
$title-bg-color: #fff !important;
$title-font-weight:normal;

$toggle-pip-nav-color:#333;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

.header{
	background-repeat:no-repeat;
	background-position:right center;
}

@import "template-media-queries";