@import "../partials/dependencies";

$template-basic:true;

$body-bg:#eee;

$logo-url: "../../form/utrechtse-heuvelrug/img/uh-logo.jpg";
$logo-width:300px;
$logo-height:131px;
$logo-margin:0px 0 0 20px;
$logo-bg-size:cover;
// $logo-text-indent:0;
$header-height:131px;
$header-padding:0;
$header-bg:#fff;

$primary-color:#83b817;
$secondary-color:#009797;
$tertiary-color:#ca0300;
$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:white;
$button-primary-bg-hover:darken($secondary-color,10%);
$button-in-title-color:white;
$border-radius:0;

$anchor-color:$secondary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Verdana, sans-serif;
$font-size:75%;
$template-width:960px;

// $template-type-open-width:960px;
// $content-padding:20px 0 20px;
// $mobile-content-padding:20px 12px 20px;

$container-border:none;

$form-navigation-margin:0 0 1em;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:darken($primary-color,10%);
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;
$pip-nav-bg-active:rgba(255,255,255,.2);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.75rem;
$title-font-weight:400;
$title-padding-top:1em;
$title-padding-bottom:1em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:$secondary-color;
$heading1-fontsize: 2em;
$heading1-weight:700;
$heading1-font-family:'Ubuntu Condensed',sans-serif;

$heading2-color:$secondary-color;
$heading2-fontsize:1.4em;
$heading2-weight:700;
$heading2-font-family:'Ubuntu Condensed',sans-serif;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

$pip-phase-title-bg:$secondary-color;
$pip-phase-title-border:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#logo{
	font-weight: 400;
    font-size: 160%;
    float: left;
    line-height: 80px;
    position: relative;
    z-index: 1;
    
    a{
    	text-decoration: none;
    	color: #222222;
    }
    span {
        font-weight: 600;
    }
}

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}

@media only screen and (max-width: $template-type-open-width + 20px) {
    #logo{
        margin-left:20px;
    }
}