.timeline-filter{
    margin-left:auto;
    display: flex;
    @media #{$medium-small-and-down}{
        margin-left:-.9rem;
    }
    .btn-flat{
        color:#999;
        &:hover,
        &:focus{
            color:#000;
        }
    }
    ul{
        display: flex;
    }
    [data-zs-dropdown-menu-decorate]{
        position: relative;
        > ul {
            display: none;
            &.menu-open {
                display: block;
            }
        }
    }
}

.timeline-options{
    position: absolute;
    z-index:1;
    background: #fff;
    box-shadow:0 1px 3px rgba(0,0,0,0.2);
    padding:.8rem 1rem;
    min-width: 180px;
    li{
        padding:2px 0;
    }
    input[type="checkbox"]{
        margin-right:8px;
    }
}