.timeline-icon.mdi{
    border-radius:100%;
    width:28px;
    height:28px;
    line-height:24px;
    background: #333;
    color:#fff;
    font-size:1.1rem;
    border:2px solid #333;
    box-shadow:0 0 0 3px #fff;
    margin-right:1.5rem;
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-event-type="document"]{
        background:$green;
        border-color:$green;
        &:before{
            content: mdi('file');
        }
    }
    &[data-event-type="contactmoment"],
    &[data-event-type="note"]{
        background: $yellow;
        border-color: $yellow;
    }
    &[data-event-type="contactmoment"]:before{
        content: mdi('comment-text');
    }
    &[data-event-type="note"]:before{
        content: mdi('note-plus');
    }
    &[data-event-type="case"],
    &[data-event-type="case-mutation"]{
        background: $blue;
        border-color: $blue;
        &:before{
            content: mdi('folder');
        }
    }
}

[data-event-type="case/attribute/update"],
[data-event-type="case/update/piprequest"],
[data-event-type="case/update/field"],
[data-event-type="case/pip/updatefield"]{
    .timeline-icon.mdi{
        &:before{
            content: mdi('pencil');
        }
    }
}

[data-event-type="case/attribute/update"],
[data-event-type="case/pip/updatefield"]{
    .timeline-icon.mdi{
        background: $orange;
        border-color: $orange;
    }
}

[data-event-type="case/subject/add"]{
    .timeline-icon.mdi{
        background: $yellow;
        border-color: $yellow;
        &:before{
            content: mdi('account-plus');
           
        }
    }
}

[data-event-type="object/relation/add"],
[data-event-type="object/relation/update"]{
    .timeline-icon.mdi{
        background: $primary-color;
        border-color: $primary-color;
        &:before{
            content: mdi('link');
        }
    }
}

[data-event-type="email/send"]{
    .timeline-icon.mdi{
        background: $light-blue;
        border-color: $light-blue;
        &:before{
            content: mdi('email');
            
        }
    }
}

[data-event-type="case/create"]{
    .timeline-icon.mdi{
        background: $primary-color;
        border-color: $primary-color;
        box-shadow:0 0 0 7px desaturate(lighten($primary-color,55%),10%);
        &:before{
            content: mdi('plus');
            
        }
    }  
}

[data-event-type="case/close"]{
    .timeline-icon.mdi{
        background: $green;
        border-color: $green;
        box-shadow:0 0 0 7px lighten($green,40%);
        &:before{
            content: mdi('check');
            
        }
    }  
}

[data-event-type="case/reopen"]{
    .timeline-icon.mdi{
        &:before{
            content: mdi('folder-upload');
            
        }
    }  
}

[data-event-type="case/update/milestone"]{
    .timeline-icon.mdi{
        &:before{
            content: mdi('folder-move');
            
        }
    }  
}

[data-event-type="case/update/purge_date"]{
    .timeline-icon.mdi{
        background: $red;
        border-color: $red;
        &:before{
            content: mdi('folder-remove');
            
        }
    }  
}

[data-event-type="case/subcase"],
[data-event-type="case/close_child"]{
    .timeline-icon.mdi{
        &:before{
            content: mdi('folder-multiple');
        }
    }   
}

[data-event-type="case/checklist/item/update"]{
    .timeline-icon.mdi{
        background: $purple;
        border-color: $purple;
        &:before{
            content: mdi('checkbox-marked');
        }
    }   
}

[data-event-type="case/update/allocation"]{
    .timeline-icon.mdi{
        background:$purple;
        border-color:$purple;
        &:before{
            content: mdi('account');

        }
    }
}

[data-event-type="case/object/update"],
[data-event-type="case/object/create"],
[data-event-type="case/object/delete"]
{
    .timeline-icon.mdi{
        background:$light-blue;
        border-color:$light-blue;
        &:before{
            content: mdi('hexagon');

        }
    }
}

[data-event-type="case/object/delete"]{
    .timeline-icon.mdi{
        background:$red;
        border-color:$red;
    }
}

[data-event-type="object/queue/item_failed"]
{
    .timeline-icon.mdi{
        background:$red;
        border-color:$red;
        &:before{
            content: mdi('alert');

        }
    }
}

.timeline-item-add .timeline-icon.mdi{
    border:2px solid #ccc;
    background: #fff;
    color:#bbb;
    box-shadow:0 0 0 3px #fff;
    font-size:1.4rem;
}

.timeline-item-icon {
    background: url(/images/icons-timeline.png) no-repeat -32px 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 8px;
    top: 7px;
    margin-right: 10px;
}

.timeline-item-icon[data-event-type="document"]{
    background-position: -32px 0;
}

.timeline-item-icon[data-event-type="note"]{
    background-position: -96px 0;
}

.timeline-item-icon[data-event-type="contactmoment"]{
    background-position: -64px 0;
}

.timeline-item-icon[data-event-type="case"],
.timeline-item-icon[data-event-type="case-mutation"]{
    background-position: -128px 0;
}

.timeline-item-icon[data-event-type="product"]{
    background-position: -160px 0;
}

.timeline-item-icon[data-event-type="question"]{
    background-position: -192px 0;
}

.timeline-item-icon[data-event-type="email"]{
    background-position: -224px 0;
}


.timeline-item-icon[data-event-type="document"]{
    background: url(/images/icons-docs.png) no-repeat;
}

.timeline-item-icon[data-mimetype="txt"] { background-position: -32px 0; }
.timeline-item-icon[data-mimetype="msword"],
.timeline-item-icon[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] { background-position: -64px 0; }
.timeline-item-icon[data-mimetype="vnd.oasis.opendocument.text"] { background-position: -96px 0; }
.timeline-item-icon[data-mimetype="pdf"] { background-position: -128px 0; }
.timeline-item-icon[data-mimetype="jpeg"],
.timeline-item-icon[data-mimetype="pjpeg"] { background-position: -160px 0; }
.timeline-item-icon[data-mimetype="png"] { background-position: -192px 0; }
.timeline-item-icon[data-mimetype="gif"] { background-position: -224px 0; }
.timeline-item-icon[data-mimetype="vnd.ms-excel"] { background-position: -384px 0; }