[% RETURN IF c.user_exists -%]
        </div>
    </div>

<div id="footer" class="bg_3 text_7">    <div class="container">        <div class="container-inner"><div class="wysiwyg box_1"><h2>Gemeentehuis</h2>

<p>Tobias Asserlaan 1<br>
2662 SB Bergschenhoek</p>

<p>Postbus 1, 2650 AA<br>
Berkel en Rodenrijs</p>

<p><a href="https://maps.google.nl/maps?q=tobias+asserlaan,+bergschenhoek&amp;hl=nl&amp;sll=51.955456,4.719948&amp;sspn=1.347347,4.194031&amp;hnear=Tobias+Asserlaan&amp;t=m&amp;z=16" title="Link naar Googlemaps">Route naar gemeentehuis</a></p></div><div class="koppelbox box_2">    <h2 class="first odd no_link">Algemeen</h2><ul>
        <li class="even">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/contact_43451/">Contact</a>
        </li>
        <li class="odd">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/openingstijden_43579/">Openingstijden</a>
        </li>
        <li class="even">
            <a href="https://e-loket.lansingerland.nl/in-de-gemeente/lansingerland-app_43847/">Lansingerland App</a>
        </li>
        <li class="odd">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/proclaimer_43669/">Proclaimer</a>
        </li>
        <li class="even">
            <a href="https://e-loket.lansingerland.nl/in-de-gemeente/servicenormen_44438/">Servicenormen</a>
        </li>
        <li class="last odd">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/toegankelijkheid_44210/">Toegankelijkheid</a>
        </li>
    </ul>
</div><div class="koppelbox box_3">    <h2 class="first odd no_link">Direct naar</h2><ul>
        <li class="even">
            <a href="https://e-loket.lansingerland.nl/in-de-gemeente/gemeenteblad_43807/">Gemeenteblad</a>
        </li>
        <li class="odd">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/gemeentenieuwsbrief-aanmelden_43711/">Gemeentenieuwsbrief aanmelden</a>
        </li>
        <li class="even">
            <a href="https://e-loket.lansingerland.nl/zelf-regelen/sitemap_44204/">Sitemap</a>
        </li>
        <li class="odd">
            <a href="https://e-loket.lansingerland.nl/in-de-gemeente/webarchief_43789/">Webarchief</a>
        </li>
        <li class="last even">
            <a href="https://e-loket.lansingerland.nl/in-de-gemeente/vacatures_43785/">Vacatures</a>
        </li>
    </ul>
</div><div class="wysiwyg box_4 last"><h2>Volg ons</h2>

<p>
    <a href="https://twitter.com/lansingerland">
        <img alt="Link naar het gemeentelijke Twitteraccount" src="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/twitter.png" style="height:40px; width:40px">
    </a>&nbsp;&nbsp;
    <a href="https://www.facebook.com/gem.Lansingerland">
        <img alt="Link naar het gemeentelijke Facebook account" src="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/facebook.png" style="height:40px; width:40px">
    </a>&nbsp;&nbsp;
    <a href="http://www.youtube.com/user/lansingerlandextra?gl=NL&amp;hl=nl">
        <img alt="Link naar het gemeentelijke YouTube kanaal" src="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/youtube.png" style="height:40px; width:40px">
    </a>
</p>
</div>
<div class="footer-extra"></div>
</div>
</div>
</div>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]



</body>
</html>