form[name="emailForm"]{
	&.modal-medium{
		width:auto;
		@media #{$medium-and-up}{
			width:550px;
		}
		@media #{$large-and-up}{
			width:900px;
		}
	}
	margin:0 -1.5rem -1.5rem;
	.row-config label{
		display: inline-block !important;
		margin-right:8px;
		line-height: 1;
	}
	.form-actions{
		padding:15px 15px;
	}
	.spot-enlighter-tag-wrapper{
		padding:10px 0 10px 13px;
	}
	
}

#popup-send-mail{
	margin:-20px;
	.td-hide{
		display: none;
	}
	.radio-item{
		margin-right:8px;
		margin-bottom:0;
		input{
			margin-right:6px;
		}
	}
	.td-label,.td-field{
		box-sizing:border-box;
	}
	.form-actions{
		padding:15px 15px;
	}
}

.row-config{
	padding:0 0 .75rem;
	.td-label{
		padding-left:1.5rem;
		font-size:.933rem;
	}
	&.row{
		display: flex;
	}
	.large-4{
		width:25%;
	}
	.large-8{
		width:60%;
	}
}

.row-email-content{
	width:100%;
	padding:0 !important;
	border-bottom:1px solid #ccc;
	.zoek_veld{
		width:100%;
		.search_wrap{
			float:none;
			margin:0;
			input{
				background-image: url("/images/icon-filter.png");
				background-repeat:no-repeat;
				background-position:12px center;
				text-indent:21px;
				padding:13px;
			}
		}
	}
	.td-label{
		display: none;
	}
	.td-field{
		width:100%;
		position: relative;
		.validator{
			position: absolute;
			top:7px;
			right:10px;
		}
	}
	input,textarea{
		border:none;
		width:100%;
		padding:13px;
		&:focus{
			border:none;
			outline:none;
			box-shadow:none;
		}
	}
	label input{
		width:auto;
	}
	textarea{
		height:200px;
	}
	.column{
		padding:0;
	}
	.spot-enlighter-wrapper{
		display: block;
		input{
			background-position:12px center;
			text-indent:21px;
			width:100%;
		}
	}
}

.row-email-attachment{
	padding:10px 13px !important;
	border:none;
	input[type=checkbox]{
		display: none;
	}
	.mdi{
		font-size:1.7rem;
		margin-right:5px;
		color:#777;
	}
	.td-field{
		display: inline-flex;
		align-items: center;
		background: #f5f5f5;
		border-radius:2px;
		box-shadow:0 1px 2px rgba(0,0,0,0.45);
		width:auto;
		padding:.5rem 1.25rem .5rem 1rem;
	}
}

.grid-table .row.row-config,
.form .row.row-config{
	display: flex;
	.large-4,
	.large-8{
		width:auto;
	}
	.large-4{
		margin-right:10px;
	}
}

.grid-table .row.row-type-ontvanger,
.form .row.row-type-ontvanger{
	border-bottom:2px solid #ccc;
	.row-options{
		margin-left:auto;
		margin-right:15px;
	}
}

.row-options{

	td{
		border-bottom:none;
	}
	button{
		color:#999;
		background-color:transparent;
		font-size:1em;
		margin-left:4px;
		border:none;
		&:hover{
			color:#000;
			text-decoration: underline;
		}
	}
	&.ezra-email-options{
		top:116px;
	}
}