.new-entity-options{
	position: relative;
	border: 1px solid #c4c4bd;
	border-right: none;
	border-left: none;
	.row{
		display: flex;
		padding:1rem 0;
	}
	.large-4{
		width:250px;
	}
	.large-8{
		flex-grow:1;
	}
	@media #{$medium-and-down}{
		.row{
			flex-direction: column;
		}
	  	.large-4,
	  	.large-8{
			width:100%;
		}
	}
	.inner{
		padding: 10px 1rem;
		overflow: hidden;
	}
	> .inner{
		padding-top:0;
	}
	label{
		display: block;
		 > input{
			margin: 6px 7px 6px 0;
		}
	}
	input[type=text]{
		width:100%;
		padding:5px;
	}
	.btn-show-more{
		max-width:300px;
	}
}

.new-entity-revision .inner{
	padding-top:0;
	padding-bottom:0;
}

.new-entity-active{
	width: 16px;
	height: 8px;
	background: url(/images/icons-docs.png) no-repeat -233px -78px;
	position: absolute;
	right: 17px;
	top: -1px;
	z-index: 3;
}