.veldoptie-object-type-add-buttons.form-field{
	border-bottom:none;
	padding-left:4px !important;
}

.veldoptie-object-type-add > .form-fieldset > .form-fieldset-children > .form-field > .form-field_label{
	display: none;
}

.veldoptie-object-type-add{
	.form-fieldset-meta{
		border-bottom:1px solid #ccc;
		padding:13px;
		margin:-10px -10px 0 -10px;
		background:#f9f9f9;
	}
	.form-fieldset-header{
		margin:0;
	}
}

.veldoptie-object-type-header{
	margin: 0px;
	border-bottom: 2px solid #ddd;
	padding: 12px 0;
}

.veldoptie-object-type-list{
	list-style: none;
}

.veldoptie-object-type-item{
	border-bottom:1px solid #e0e0e0;
	padding:0.9em 0;
}

.veldoptie-object-type-item-open{
	border-bottom-color:#ccc;
}

.veldoptie-object-type-item-header-form .form-field:first-child{
	border-top:1px solid #ccc;
	margin-top:1em;
}

.veldoptie-object-type-list-item-description,.veldoptie-object-type-item-type,.veldoptie-object-type-list-item-options{
	display: inline-block;
}

.veldoptie-object-type-list-item-description {
	font-weight: bold;
	font-size:1.073em;
	&:hover{
		color:#000;
	}
}

.veldoptie-object-type-list-item-description-link{

}

.veldoptie-object-type-item-label{
	color:#888;
	font-weight: normal;
	font-size:1.073em;
}

.veldoptie-object-type-item-type-create,.veldoptie-object-type-item-type-update{
	.item-label{
		background:$object-label-green;
		&:hover{
			background:darken($object-label-green,5%);
			cursor:default;
		}
	}
}

.veldoptie-object-type-item-type-delete .label,
.veldoptie-object-type-item-error .label{
	background:$object-label-red;
	&:hover{
		background:darken($object-label-red,5%);
		cursor:default;
	}
}

.veldoptie-object-type-item-error .label{
	&:before{
		content:"\f071";
		font-family: fontAwesome;
		font-size:12px;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
	}
}

.veldoptie-object-type-list-item-options{
	float:right;
	i{
		font-size:1.077em;
		color:#888;
		&:hover{
			color:#000;
		}
	}
}

.veldoptie-object-type-list-item-option{
	text-decoration: none;
	margin-left:2px;
}

.kenmerk-veld.kenmerk-veld-type-objecttype{
	border-bottom:0;
}

.kenmerk-veld-type-objecttype .column.large-4 {
  display: none;
}

.kenmerk-veld-type-objecttype .column.large-8 {
  width: 100%;
}

.kenmerk-veld-type-objecttype .veldoptie-object-type-add{
	.form-fieldset-desc, .form-fieldset-header button{
	  display: none;
	}
}

.veldoptie-object-type-item-form .form-fieldset-meta {
  display: none;
}

.veldoptie-object-type-title{
	font-weight: bold;
	font-size:1.077em;
}

.veldoptie-object-type-add .form-field-filled .form-field-status-valid {
	display: block;
}

.veldoptie-object-type-add .form-field-filled .form-field-status-valid .form-field-status-indicator:after{
    font-family: 'FontAwesome';
    content: "\f00c";
    width:10px;
    height:10px;
    display: inline-block;
    position:absolute;
    right:18px;
    color:green;
    top:50%;
    margin-top:-10px;
    font-size:16px;
}

.veldoptie-object-type-form-wrap{
	display: none;
	border:1px solid #bbb;
	box-shadow: 0 3px 4px rgba(0,0,0,0.15);
	padding:10px;
	&.veldoptie-object-type-form-wrap-show{
		display: block;
	}
}

.form-field.veldoptie-object-type-form-wrap{
	padding:10px;
	.form-field-input{
		width:100%;
		display: block;
	}
}

.veldoptie-object-type-add-buttons{
	padding:11px 0;
	.button-active:after, .button-active:before {
		bottom: -13px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.button-active:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #f9f9f9;
		border-width: 5px;
		margin-left: -5px;
	}
	.button-active:before {
		border-color: rgba(204, 204, 204, 0);
		border-bottom-color: #999;
		border-width: 6px;
		margin-left: -6px;
	}
}

.veldoptie-object-type-search{
	.form-field_label{
		display: none;
	}
	&:not(.ng-hide) + div > div > .veldoptie-object-type-form .form-fieldset-meta{
		display: none;
	}
}
