@import "./../../shared/styles/index.scss";

.main-interface {
	display: flex;
	flex-direction:column;
	height:100%;
	-webkit-overflow-scrolling: touch;
}

zs-intern,
zs-viewless-intern {
	width:100%;
	display: flex;
	flex:0 0 auto;

	.backdrop{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		background: rgba(0,0,0,0.3);
		z-index:8;
		transition: 0.15s ease-in-out opacity;

		&.ng-hide-add{
			opacity: 1;
		}

		&.ng-hide-add-active {
			opacity: 0;
		}

		&.ng-hide-remove {
			opacity: 0;
		}

		&.ng-hide-remove-active {
			opacity: 1;
		}

	}
}

zs-viewless-intern{
	z-index: 7;
}

.content {
	display: flex;
	flex-direction:row;
	min-height: 0px;
	flex: 1;
    overflow-y: auto;
}

ui-view {
	display: flex;
	flex: 1;
	width:100%;
	min-height:0px;
	min-width: 0px;
}

.bottom-right-container {
	position: fixed;
	z-index: 9;
	bottom: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}
