<ul class="case-summary-list">

	<li class="case-summary-list-item"
		ng-repeat="link in vm.getLinks() track by link.id"
		zs-tooltip="{{::link.tooltip}}"
		zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }"
		ng-class="link.style"
		data-name="{{::link.name}}"
		ng-switch="link.type"
	>

		<a
			ng-href="{{::link.url}}"
			class="case-summary-list-item-link"
			target="{{::link.target}}"
			ng-switch-default
		>
			<zs-icon class="case-summary-list-item-icon" icon-type="{{::link.icon}}" ng-show="{{::!!link.icon}}"></zs-icon>
			<span class="case-navigation-link-label case-summary-list-item-label">{{::link.label}}</span>
		</a>

		<button
			class="case-summary-list-item-link"
			ng-switch-when="button"
			ng-click="link.click()"
			ng-disabled="link.disabled"
		>
			<div class="case-summary-list-item-link-inner">
				<zs-icon class="case-summary-list-item-icon" icon-type="{{::link.icon}}" ng-show="{{::!!link.icon}}"></zs-icon>
				<span class="case-navigation-link-label case-summary-list-item-label">{{::link.label}}</span>
			</div>
		</button>

	</li>

</ul>
