<div data-zs-modal data-ng-init="title='I-Navigator import'" class="modal-inavigator">
	<h3>Algemeen</h3>

	<p>De i-Navigator stelt u in staat om de complete informatiehuishouding van uw organisatie centraal in kaart te brengen en te beheren. De informatiehuishouding - of informatiearchitectuur - vormt de schakel tussen de organisatiearchitectuur (processen en organisatie) enerzijds en de technische architectuur (systemen en infrastructuur) anderzijds.</p>

	<p>U beschrijft en beheert via de i-Navigator uw werkprocessen (bijvoorbeeld uit Model-DSP), de informatieobjecten die een rol een spelen bij die werkprocessen, de basis- en kernregistraties die worden geraadpleegd door de werkprocessen en de informatiesystemen waarin deze registraties worden beheerd.</p>

	<a download="Demo_ICR1.5_2procs.xml" href="[% c.uri_for('/examples/inavigator/Demo_ICR1.5_2procs.xml') %]">Download voorbeeldbestand</a>

	<br/><br/><br/>

	<h3>Importgegevens</h3>

	<table>
		<tr>
			<td>Algemene attributen</td>
			<td>Algemene attributen zijn kenmerken die voor elk zaak van een bepaald zaaktype gelden. Bijvoorbeeld de aanleiding of de handeling van de initiator</td>
		</tr>
		<tr>
			<td>Zaakdocumenten</td>
			<td>Zaakdocumenten zijn documenten die aan de voorkant zijn ingericht in het zaaktype. Deze kunnen verplicht worden gesteld om een fase af te ronden. Denk hierbij aan een ontvangstbevestiging of beschikking. Vanuit de I-Navigator zijn dit de documenttypen die bij het zaaktype horen.</td>
		</tr>
		<tr>
			<td>Checklistitems</td>
			<td>Checklistitems zijn geheugensteuntjes voor de behandelaar om af te vinken. BIjvoorbeeld 'Zijn alle gegevens gecontroleerd?'</td>
		</tr>
		<tr>
			<td>Resultaten</td>
			<td>Elke zaak heeft een resultaat, bijvoorbeeld Vergunning verleend. Aan de hand van de resultaten worden de bewaartermijnen ingesteld.</td>
		</tr>
	</table>

	<br/>

	<a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Avhi3hWYp-3edEF6VEs5bnRjSDRQRVlLeE8wLWk1d3c&usp=sharing">Bekijk volledig overzicht</a>

</div>