@import "partials/dependencies";

.detail-view{
	margin-bottom:35px;
}

.detail-view, 
.detail-view * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.detail-view-header {
    color: #000;
    margin-bottom: 0;
    line-height: 1.8;
    border-bottom: 1px solid #ddd;
    display: table;
    width: 100%;
}

.detail-view-actions {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.detail-view-fieldset-title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 12px 0;
}

.detail-view-field {
	display: table;
	width: 100%;
}

.detail-view-field-label {
	display: table-cell;
	width: 25%;
	border-bottom: 1px solid #ddd;
	padding: 0.8em 0.3em;
	vertical-align: top;
}

.detail-view-field-value {
	display: table-cell;
	width: 75%;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.8em 0.3em;
}


.detail-view-field-value-display {
	textarea{
		width:100%;
	}
}

.detail-view-field-value-form {
	display: none;
}

.detail-view-field-editing .detail-view-field-value-display {
	display: none;
}

.detail-view-field-editing .detail-view-field-value-form {
	display: inline-block;
}

.detail-view-field-value-edit {
	visibility: hidden;
}

.detail-view-field-editing .detail-view-field-value-edit,
.detail-view-field:hover .detail-view-field-value-edit {
	visibility: visible;
}

.detail-view-field-value-form .form-field-button-list {
	display: none;
}

.detail-view-field-value-form .form-field-input,
.detail-view-field-value-form .form-field-revert {
	display: inline-block;
}