/* @group Browser Check */

.browser-check{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 3300;
}

.no-rgba .browser-check{
    background: url(/images/ie_custom_overlay.png);
}

.browser-check-inner{
    position: absolute;
    background: #fff;
    width: 620px;
    height: 270px;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -135px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
    z-index: 4000;
}

.browser-check h1,
.browser-check p{
    text-align: center;
}

.browser-check h1{
    font-size: 1.692em;
    margin: 40px 0 5px;
    color: #000;
    font-family: 'helvetica neue',helvetica, arial, sans-serif;
    line-height: 1.1;
    font-weight: normal;
}

.browser-check p{
    font-size: 1.154em;
    margin: 15px 0 25px;
}

.browsers{
    width: 300px;
    margin: 0 auto;
}

.browser-check a{
    width: 80px !important;
    height: 105px !important;
    float: left;
    margin: 0 10px;
}

.browser-check a:hover{
    background: #eee;
    cursor: pointer;
}

.browser-check a span.icon{
    background: url(/images/browsers-sprite.png) 0 center no-repeat;
    width: 80px !important;
    height: 80px !important;
    display: block;
    padding: 0 !important;
}

.browser-check a span.text{
    text-align: center;
    display: block;
}

.browser-check a.firefox span.icon{
    background-position: -80px 0;
}

.browser-check a.safari span.icon{
    background-position: -160px 0;
}

.browser-check a.opera span.icon{
    background-position: -240px 0;
}

/* @end */