/* @group Velden dossier */
.kenmerken .inner {
  padding: 6px 20px 10px 20px;
}

.kenmerken{
  .kenmerk-titel{
    font-size:1.15em;
  }
  .kenmerk-beschrijving{
    font-size:1em;
    margin-top:7px;
  }
}

.kenmerken-titel{
  margin-bottom:5px;
}

.kenmerken-subtitel{
  margin-bottom:20px;
  margin-top:10px;
  color:#999;
}

.kenmerken-subtitel-tekst{
  vertical-align: middle;
  display: inline-block;
}

.kenmerk-groep {
  padding: 0;
  margin-top: 20px;
}

.kenmerk-groep:first-child {
  margin-top: 0px;
}

.kenmerk-groep-titel {
  border-bottom: 2px solid #ddd;
  padding: 1.5em 0;
}

.kenmerk-titel {
  margin: 0px;
  font-size: 1.33em;
  font-weight: 600;
}

.kenmerk-beschrijving {
  margin: 10px 0 0;
  color: #333;
  font-size: 1.077em;
  line-height: 1.7;
  font-weight: normal;
  display: block;
}

.kenmerk-groep{
  ol,ul{
    margin:15px 0;
    padding:0;
  }
}

.kenmerk-groep li {
  margin-left: 20px;
}

.kenmerk-groep ul li {
  list-style: disc;
}

.kenmerk-veld {
  padding: 0px;
  border-bottom: 1px solid #ddd;
  position: relative;
  > .column{
    padding: 15px 0;
  }
  background-color: white;
  opacity: 1;
}

.form > .kenmerk-veld.row {
  padding: 0px;
}

.kenmerk-veld.ng-hide {
  opacity: 0;
}

.kenmerk-veld {
  -webkit-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.kenmerk-label {
  width: 200px;
  float: left;
  margin-top: 6px;
}

.zaakdossier-afgehandeld .kenmerk-label {
  margin-top: 0;
}

.kenmerk-label-verplicht {
  font-size: 1.3em;
  line-height: .7;
  display: inline-block;
  width: 15px;
  height: 12px;
  text-align: center;
  font-style: normal;
}

.kenmerk-label-verplicht:hover {
  cursor: default;
}

.kenmerk {
  margin-left: 220px;
}

.kenmerk > ul {
  margin-left: 17px;
}

.kenmerk ul li {
  list-style-type: disc;
  line-height: 1.5;
}

.has-kenmerk-help .kenmerk {
  margin-right: 24px;
}

.kenmerk select {
  margin: 7px 0;
}

.kenmerk-help {
  position: absolute;
  right: 0;
  top: 19px;
}

.kenmerk-resultaten .kenmerk-help {
  top: 12px;
}

.kenmerk-ztc {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  display: block;
  padding: 6px 10px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px -10px -10px;
  background: #f9f9f9;
  border-radius: 0 0 3px 3px;
}

.kenmerk-empty {
  padding: 15px 0 0;
  color: #bbb;
  font-size: 16px;
  margin: 0 0 15px;
}

.kenmerk-resultaten .kenmerk-veld {
  padding: 10px 0;
}

.kenmerk-resultaten .kenmerk {
  margin-left: 0;
}

.kenmerk-resultaten {
  margin-top: 25px;
}

.kenmerk-wijziging-divider{
  clear:both;
  border:none;
}

$kenmerk-wijziging-border:desaturate(darken(#ffffcc,30%),50%);

.kenmerk-wijziging{
  border:1px solid $kenmerk-wijziging-border;
  background:#ffffcc;
  padding:12px;
  position:relative;
  margin-bottom:1em;
}

.kenmerk-wijziging-pijl{
  position: absolute;
  border-width: 0 8px 8px;
  border-style: dashed dashed solid;
  border-color: transparent;
  left:40px;
}

.kenmerk-wijziging-pijl-line{
  border-bottom-color: $kenmerk-wijziging-border;
  top:-8px;
}

.kenmerk-wijziging-pijl-bg{
  border-bottom-color: desaturate(darken(#ffffcc,5%),5%);
  top:-7px;
}

.kenmerk-wijziging-document .kenmerk-wijziging-pijl-bg{
    border-bottom-color: #ffffcc;
}

.kenmerk-wijziging-titel{
  background:desaturate(darken(#ffffcc,5%),5%);
  border-bottom:1px solid $kenmerk-wijziging-border;
  padding:12px;
  margin:-12px -12px 0 -12px;
}

.kenmerk-wijziging-nieuwe-waarde{
  margin:17px 0;
  ul{
    margin-left:20px;
  }
}

.kenmerk-wijziging-toelichting{
  @include opacity(.55);
}

.kenmerk-wijziging-acties{
  position:absolute;
  top:7px;
  right:7px;
}
